<% provide(:title, 'Home') %>
<div class="page-header">
	<h1>Hauptseite</h1>
</div>
<p>
  Schauen sie mal, was für ein Boot...
</p>
<ul>
<li><%= link_to "Sign up", new_user_registration_path, html_options: {class: 'btn'} %></li>
<li><%= link_to "Sign in", new_user_session_path, html_options: {class: 'btn' } %></li>
</ul>
