<% provide(:title, 'Home') %>
<div class="page-header">
	<h1>Hauptseite</h1>
</div>
<p>
  Schauen sie mal, was f端r ein <%= link_to "Boot", static_pages_boat_path %>...
</p>

<% if signed_in? %>
<p> <%= link_to "Instruktionen", static_pages_admin_instructions_path %> f端r Admins </p>
<% end %>

<p> <%= link_to "Verbotene Fr端chte", static_pages_admin_instructions_path %> f端r Admins </p>
